<h2>Your Review</h2>
<form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
  <div
    class="btn-group"
    role="group"
    aria-label="Basic radio toggle button group"
  >
    <ng-container *ngFor="let rt of ratings; let index = index">
      <input
        type="radio"
        class="btn-check"
        name="rating"
        [value]="rt"
        [id]="index"
        formControlName="rating"
      />
      <label class="btn btn-outline-primary" [for]="index">{{ rt }}</label>
    </ng-container>
  </div>
  <div class="alert alert-warning" *ngIf="rating?.touched && rating?.invalid">
    <p *ngIf="rating?.errors?.['required']">A rating must be selected.</p>
  </div>

  <textarea
    name="comment"
    id="comment"
    rows="3"
    formControlName="comment"
    placeholder="Enter your comment here..."
  ></textarea>

  <div class="alert alert-warning" *ngIf="comment?.touched && comment?.invalid">
    <p *ngIf="comment?.errors?.['required']">A comment must be provided</p>
    <p *ngIf="comment?.errors?.['minlength']">
      A comment must at least 8 characters.
    </p>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  <div class="alert alert-danger" *ngIf="formErrors.length > 0">
    <p *ngFor="let error of formErrors">
      The {{ error.controlName }} field has the following error:
      <b>{{ error.controlErrors }} not fulfilled.</b>
    </p>
  </div>
</form>
